/*清除默认样式*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, 
abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, 
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, 
legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, 
summary,time, mark, audio, video { margin: 0; padding: 0; }
/* 可选：将整个页面的行高设为 1倍 */
body { line-height: 1; font-family: "微软雅黑";color: #373a40; }
ul li, ol li { list-style: none; }
table {	border-collapse: collapse; border-spacing: 0;}
a { text-decoration: none; color: inherit; }
/* 解决div内插入图片的下缝隙bug */
div img { display: block; }
/*解决IE下img做链接时的边框问题*/
img{border: 0;}
/* 万能清除法 */
.clearfix:after { display: block; content: ""; width: 0; height: 0; visibility: hidden; clear: both; }
/* 垂直居中 */
.ghost-center:after { display: inline-block; height: 100%; width: 0%; visibility: hidden; vertical-align: middle; content: ""; }
.ghost-center-target { display: inline-block; vertical-align: middle; }


/*header部分开始*/
.header-outer{
	height: 31px;
	background: #f5f4f4;
	border-bottom: 1px solid #e6e6e6;
}
.header{
	width: 1190px;
	height: 31px;
	margin: 0 auto;
}

.header .top-left{
	font-size: 11px;
	color: #7f7f7a;
	line-height: 31px;
	float: left;
}

.header .top-left .zjw-name{
	color: #3e3a39;
	padding-left: 8px;
}
.header .top-left .go{
	color: #e3393c;
	margin-left: 17px;
}
#login{
	margin-left: 31px;
	float: left;
	line-height: 31px;
}
#login li{
	float: left;
	font-size: 12px;
	color: #7f7f7a;
}
#login a{
	font-size: 12px;
	color: #7f7f7a;
	padding: 0 6px;
}
#login li a{
	padding: 0 12px;
}
#login li .L-line{
	border-right: 2px solid #eae6ea;
}

#list-right{
	float: right;
}
#list-right li{
	float: left;
	font-size: 12px;
	color: #7F7F7A;
	line-height: 31px;
}
#list-right li{
	padding: 0 11px;
}
#list-right .my-zjw{
	position: relative;
}
#list-right .my-zjw a{
	position: relative;
	padding-right: 16px;
}
#list-right .dropdown{
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #cecece;
	position: absolute;
	right: 4px;
	top: 6px;
}

#list-right .dropup{
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid #cecece;
	position: absolute;
	right: 4px;
	top: 6px;
}

#list-right .my-zjw .dropdown-menu{
	position: absolute;
	left: -1px;
	top: 31px;
	width: 98px;
	height: 87px;
	border: 1px solid #CECECE;
	border-top: none;
	box-shadow: 0 0 5px #CECECE;
	background: white;
	display: none;
	z-index: 3;
}
#list-right .my-zjw .dropdown-menu li{
	float: none;
	padding: 0;
	text-align: center;
	line-height: 27px;
}
#list-right .my-zjw .dropdown-menu a{
	padding: 0;
}

#list-right .car-icon em{
	display: inline-block;
	width: 14px;
	height: 13px;
	top: 4px;
	background: url(../img/base/Himall_web.png) -1376px -24px;
	margin-right: 7px;
}
#list-right .wx,#list-right .app{
	padding-right: 0;
}
#list-right .wx:hover,#list-right .app:hover{
	background: white;
}
#list-right .d-line{
	display: inline-block;
	width: 0;
	height: 12px;
	border-right: 1px dashed #e5e5e5;
	margin-left: 11px;
}
#list-right .wx{
	position: relative;
}
#list-right .wx .dropdown-wx{
	width: 90px;
	height: 90px;
	position: absolute;
	left: 0;
	top: 31px;
	padding: 9px;
	background: white;
	border: 1px solid #CECECE;
	border-top:none ;
	box-shadow: 0 0 5px #CECECE;
	display: none;
	z-index: 3;
}
#list-right .wx .dropdown-wx img{
	width: 90px;
	height: 90px;
	margin: 1px auto;
}

#list-right .app{
	position: relative;
}
#list-right .app .dropdown-download{
	width: 85px;
	height: 135px;
	position: absolute;
	left: 0;
	top: 31px;
	padding: 9px;
	background: white;
	border: 1px solid #CECECE;
	border-top:none ;
	box-shadow: 0 0 5px #CECECE;
	display: none;
	z-index: 3;
}
#list-right .app .dropdown-download img{
	width: 80px;
	height: 80px;
	margin: 1px auto;
}
#list-right .app p{
	line-height: 21px;
	padding-left: 5px;
	color: black;
}
#list-right .app .dropdown-download .sao{
	margin-top: 12px;
}
#list-right .app .dropdown-download .xia{
	color: red;
}

#list-right .seller{
	position: relative;
}

#list-right .seller a{
	position: relative;
	padding-right:16px ;
}

#list-right .seller .dropdown-menu-2{
	position: absolute;
	width: 86px;
	left: 0;
	top: 31px;
	border: 1px solid #CECECE;
	border-top: none;
	box-shadow: 0 0 5px #CECECE;
	background: white;
	display: none;
	z-index: 3;
}
#list-right .seller .dropdown-menu-2 li{
	float:  none;
	padding: 0 0 0 10px;
	text-align: left;
	line-height: 27px;
}
#list-right .seller .dropdown-menu-2 li a{
	padding: 0;
}

#list-right .phone-num:hover{
	background: white;
}



.top-outer{
	height: 155px;
	border-bottom: 1px solid #d2041f;
}

#top{
	width: 1190px;
	height: 90px;
	margin: 0 auto;
	padding-top: 30px;
	position: relative;
}
#logo{
	display: block;
	width: 194px;
	height: 55px;
}
#logo img{
	width: 194px;
}

#top .seek{
	width: 580px;
	height: 36px;
	border: 2px solid #dd0207;
	line-height: 36px;
	font-size: 14px;
	position:absolute;
	left: 300px;
	top: 30px;
}
#top .seek .seekBy{
	width: 45px;
	height: 36px;
	background: white;
	padding-left: 12px;
	float: left;
	cursor: pointer;
	position: relative;
}
#top .seek .seekBy b{
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #cecece;
	position: absolute;
	right: 0;
	top: 14px;
}
#top .seek .popup{
	width: 45px;
	padding-left: 12px;
	box-shadow: 0 0 5px #CECECE;
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	display: none;
	z-index: 10;
	cursor: pointer;
}
#top .seek .seekBy .popup li:hover{
	color: red;
}
#top .txt{
	width: 436px;
	height: 36px;
	padding: 0 10px;
	border: none;
	outline: none;
	border-color:white ;
	float: left;
}
#top .seek .btn{
	display: inline-block;
	width: 67px;
	height: 36px;
	background: #DD0207;
	text-align: center;
	color: #FFFFFF;
	float: right;
}

#top .hot-word{
	position: absolute;
	left: 300px;
	top: 77px;
	font-size: 12px;
}
#top .hot-word a{
	margin: 0 6px;
}
#top .hot-word a:hover{
	color: #E3393C;
}

#top .top-ad{
	position: absolute;
	top: 22px;
	right: 0;
}

#nav{
	width: 1190px;
	height: 35px;
	margin: 0 auto;
	position: relative;
}
#menu{
	width: 186px;
	background: #dd0207;
	float: left;
	padding-left: 14px;
}
#menu .cart{
	display: block;
	width: 147px;
	line-height: 35px;
	color: #ffffff;
	font-size: 15px;
	text-align: center;
	background: url(../img/base/HIMALL_admin11_04_03.png) no-repeat left;
}
#nav .nav-right{
	float: left;
	margin-left: 17px;
}
#nav .nav-right li{
	float: left;
	padding: 0 39px;
}
#nav .nav-right li a{
	line-height: 35px;
}
#nav .nav-right li a:hover{
	color: #f00f34;
}
#nav .nav-right .nav-first{
	color: #F00F34;
}



/*========分类菜单========*/
#cart-all{
	width: 200px;
	height: 490px;
	position: absolute;
	top: 35px;
	left: 0;
	z-index: 5;
}
#cart-all .cart-bg{
	width: 180px;
	height: 79px;
	padding-left: 20px;
	background: #3d4851;
	border-bottom:1px solid #323b42 ;
	cursor: pointer;
}
#cart-all .cart-bg:hover{
	background: rgb(50,60,67);
}
#cart-all .white-spirit{
	border-top: 2px solid #DD0207;
}

#cart-all .cart-bg h3{
	color: #ebeced;
	font-size: 12px;
	font-weight: 800;
	padding:15px 0 ;
}
#cart-all .cart-bg h3 a{
	display: inline-block;
	margin-top: -3px;
	vertical-align: text-top;
}
#cart-all .cart-bg p{
	color: #EBECED;
	font-size: 12px;
}
#cart-all .cart-bg p a{
	display: inline-block;
	line-height: 21px;
	padding: 0 6px;
}
#cart-all .cart-bg p .active{
	background: #EBECED;
	border-radius: 2px;
	color: #333c43;
}
#cart-all .cart-bg h3 i{
	display: inline-block;
	width: 21px;
	height: 21px;
}
#cart-all .white-spirit h3 i{
	background: url(../img/imageAd/201609280918332737800.png);
}
#cart-all .grape h3 i{
	background: url(../img/imageAd/201609280918494822090.png);
}
#cart-all .foreign-wine h3 i{
	background: url(../img/imageAd/201609280919080930420.png);
}
#cart-all .yellow-wine h3 i{
	background: url(../img/imageAd/201609280919312902820.png);
}
#cart-all .gift-box h3 i{
	background:url(../img/imageAd/201609280919479355120.png) ;
}
#cart-all .webbing h3 i{
	background: url(../img/imageAd/201609280920068115450.png);
}


#cart-all .cart-more{
	width: 750px;
	height: 480px;
	padding-left: 30px;
	background: #FFFFFF;
	position: absolute;
	left: 200px;
	top: 2px;
	z-index: 99;
	display: none;
}
#cart-all .cart-more dl{
	float: left;
	width: 520px;
	border-bottom: 1px dashed #dbdbdb;
}
#cart-all .cart-more dt{
	font-size: 13px;
	font-weight: 500;
	color: #313131;
	line-height: 51px;
	border-bottom: 1px solid #313131;
	overflow: hidden;
}
#cart-all .cart-more dd{
	padding: 15px 0;
}
#cart-all .cart-more dd ul{
	overflow: hidden;
}
#cart-all .cart-more dd ul li{
	width: 79px;
	float: left;
	line-height: 25px;
	font-size:11px;
	color: #666666;
}
#cart-all .cart-more dd ul li a:hover{
	color: rgb(184,28,34);
}



#cart-all .cart-more .cart-more-ad{
	width: 180px;
	height: 100%;
	float: right;
	background: #f7f7f7;
}
#cart-all .cart-more .cart-more-ad h3{
	line-height: 37px;
	font-size: 11px;
	color: #3E3A39;
	text-align: center;
}







/*底部footer层*/
.footer1-outer{
	height: 108px;
	background: #f8f8f8;
	border-bottom: 1px solid #d6d6d6;
}
#footer1{
	width: 1190px;
	margin: 0 auto;
	padding-top: 33px;
}
#footer1 li{
	float: left;
	width: 195px;
}
#footer1 li h3{
	font-size: 15px;
	font-weight: 400;
	color: #313131;
	line-height: 29px;
}
#footer1 li p{
	font-size: 12px;
	color: #666666;
}
#footer1 li i{
	display: block;
	float: left;
	width: 54px;
	height: 40px;
	background: url(../img/base/icon.png);
	background-position-y: -37px;
}
#footer1 .zp i{
	background-position-x:0;
}
#footer1 .lj i{
	background-position-x: -56px;
}
#footer1 .wl i{
	background-position-x: -124px;
}
#footer1 .sd i{
	background-position-x: -181px;
}
#footer1 .bw i{
	background-position-x: -241px;
}
#footer1 .jp i{
	background-position-x: -301px;
}


.footer2-outer{
	height: 191px;
	background: #f3f3f3;
}
#footer2{
	width: 1190px;
	margin: 0 auto;
	padding-top: 36px;
}
#footer2 .zj-icon{
	width: 199px;
	float: left;
}
#footer2 .zj-icon a{
	display: block;
	margin-bottom: 20px;
}

#footer2 .wrap-link{
	width: 140px;
	float: left;
}
#footer2 .wrap-link h3{
	font-size: 14px;
	color: #313131;
	line-height: 33px;
}
#footer2 .wrap-link a{
	font-size: 11px;
	color: #666666;
	line-height:24px ;
}
#footer2 .wrap-link a:hover{
	color: rgb(227,57,60);
}
#footer2 .qrcode{
	float: right;
	margin-top: -4px;
}
#footer2 .qrcode li{
	float: left;
	width: 88px;
	text-align: center;
}
#footer2 .qrcode li:first-child{
	margin-right:23px ;
}
#footer .qrcode li h3{
	font-size: 13px;
	color: #313131;
}
#footer2 .qrcode li img{
	margin-top: 12px;
}
#footer2 .qrcode li a{
	font-size:11px ;
	color: #666666;
	margin-top: 5px;
}
#footer2 .qrcode li a:hover{
	color: rgb(227,57,60);
}

.footer3-outer{
	height: 39px;
	background: #313131;
}
#footer3{
	width: 1190px;
	margin: 0 auto;
	line-height: 39px;
	text-align: center;
}
#footer3 a{
	padding: 0 12px;
	color: #ffffff;
	font-size: 12px;
	border-right: 1px solid #ffffff;
}
#footer3 .last-a{
	border-right: none;
}
.footer4-outer{
	height: 110px;
	background: #FFFFFF;
}
#footer4{
	width: 1190px;
	margin: 0 auto;
}
#footer4 p{
	text-align: center;
	line-height: 50px;
	font-size: 11px;
	color: #666666;
}
#footer4 .msg{
	width: 765px;
	margin: 0 auto;
	overflow: hidden;
}
#footer4 .msg a{
	display: block;
	float: left;
	margin-left: 8px;
}



/*===============右侧工具栏=================*/
#fixed-right{
	width: 40px;
	height: 100%;
	background: #2a2a2e;
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
}
#fixed-right .fixed-menu li{
	margin-bottom: 10px;
	cursor: pointer;
}
#fixed-right .fixed-menu .right-user{
	width: 19px;
	height: 19px;
	padding: 10.5px;
	margin-top: 110px;
	position: relative;
	cursor: pointer;
}
#fixed-right .fixed-menu .right-user i{
	display:block;
	width: 19px;
	height: 19px;
	background: url(../img/base/Himall_web.png) -1403px -26px;
}
#fixed-right .fixed-menu .right-user span{
	display: inline-block;
	width:90px ;
	height: 40px;
	position: absolute;
	right: 60px;
	bottom: 0;
	text-align: center;
	line-height: 40px;
	background: rgb(73,73,73);
	font-size: 12px;
	color: rgb(255,255,255);
	cursor: pointer;
	display: none;
	opacity: 0;
	filter: alpha(opacity=0);
}


#fixed-right .fixed-menu .right-car{
	width: 40px;
	height: 108px;
	margin: 0 auto;
	padding-top: 32px;
}

#fixed-right .fixed-menu .right-car i{
	display: block;
	width: 16px;
	height: 14px;
	background: url(../img/base/Himall_web.png) -1429px 0;
	margin: 0 auto ;
}
#fixed-right .fixed-menu .right-car p{
	font-size: 13px;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
	line-height: 19px;
	padding: 0 14px;
	margin: 2px auto;
}
#fixed-right .fixed-menu .right-car b{
	display:block;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	margin: 0 auto;
	background: rgb(227,57,60);
	border-radius: 50%;
	color: #FFFFFF;
}
#fixed-right .fixed-menu s{
	display: block;
	width: 20px;
	height: 1px;
	margin: 0 auto;
	background: #505053;
}

#fixed-right .fixed-menu .right-asset{
	position: relative;
	padding: 11px 12px;
}
#fixed-right .fixed-menu .right-asset i{
	display: block;
	width: 16px;
	height: 18px;
	background: url(../img/base/Himall_web.png) -1429px -26px;
}
#fixed-right .fixed-menu .right-asset span{
	display: inline-block;
	width:90px ;
	height: 40px;
	position: absolute;
	right: 60px;
	bottom: 0;
	text-align: center;
	line-height: 40px;
	background: rgb(73,73,73);
	font-size: 12px;
	color: rgb(255,255,255);
	cursor: pointer;
	display: none;
	opacity: 0;
	filter: alpha(opacity=0);
}


#fixed-right .fixed-menu .right-like{
	position: relative;
	padding: 12px 11.5px;
}
#fixed-right .fixed-menu .right-like i{
	display: block;
	width: 17px;
	height: 16px;
	background: url(../img/base/Himall_web.png) -1455px 0px;
}
#fixed-right .fixed-menu .right-like span{
	display: inline-block;
	width:90px ;
	height: 40px;
	position: absolute;
	right: 60px;
	bottom: 0;
	text-align: center;
	line-height: 40px;
	background: rgb(73,73,73);
	font-size: 12px;
	color: rgb(255,255,255);
	cursor: pointer;
	display: none;
	opacity: 0;
	filter: alpha(opacity=0);
}

#fixed-right .fixed-menu .right-history{
	position: relative;
	padding: 10.5px;
}
#fixed-right .fixed-menu .right-history i{
	display: block;
	width: 19px;
	height: 19px;
	background: url(../img/base/Himall_web.png) -1455px -26px;
}
#fixed-right .fixed-menu .right-history span{
	display: inline-block;
	width:90px ;
	height: 40px;
	position: absolute;
	right: 60px;
	bottom: 0;
	text-align: center;
	line-height: 40px;
	background: rgb(73,73,73);
	font-size: 12px;
	color: rgb(255,255,255);
	cursor: pointer;
	display: none;
	opacity: 0;
	filter: alpha(opacity=0);
}





#fixed-right .btn-top{
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: pointer;
}
#fixed-right .right-menu:hover{
	background: rgb(227,57,60);
}
#fixed-right .btn-top i{
	display:block;
	width: 100%;
	height: 100%;
	background: url(../img/base/right.png) 0 -280px;
}
#fixed-right .btn-top span{
	display: inline-block;
	width:90px ;
	height: 40px;
	position: absolute;
	right: 60px;
	bottom: 0;
	text-align: center;
	line-height: 40px;
	background: rgb(73,73,73);
	font-size: 12px;
	color: rgb(255,255,255);
	cursor: pointer;
	display: none;
	opacity: 0;
	filter: alpha(opacity=0);
}
#fixed-right .ups:before{
	content: '';
	position: absolute;
	right: -5px;
	top: 10px;
	border-left: 10px solid #494949;
	border-top: 10px dashed transparent;
	border-bottom: 10px dashed transparent;
}


#end{
	font-weight: 400;
	font-size: 11px;
}





